@font-face {
  font-family: Montserrat;
  src: url(../fonts/Montserrat-Regular.ttf);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}

/* html{
  font-size: 62.5%;
} */

body{
  font-family: 'Montserrat', sans-serif; 
  font-size: 1rem;
}

.principal, .nosotros
{
  width: 90%;
  margin: 0 auto;
}

/*NAV*/

nav{
  font-size: 500%;
}

.navbar-brand {
  padding-top: 0; }

.navbar-light {
  background-color: rgba(250, 250, 250, 0.9);
  background-image: none;
  border-bottom: 1px solid #e2e6ea; }

.logo p {
  font-family: 'Times New Roman', Times, serif; }

.logo1 {
  font-size: 2.6rem;
  margin: 0;
  padding: 0;
  line-height: 3rem; }

.logo2 {
  font-size: 0.7rem;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  margin: 0;
  padding: 0; }

#navbarSupportedContent ul {
  margin-right: 1.5rem; }
  #navbarSupportedContent ul li {
    color: black;
    font-weight: 700;
    font-size: 0.8rem;
    padding-left: 1rem; }

#menunav {
  padding-top: 0;
  padding-bottom: 0; }

.nav-item {
  text-transform: uppercase; }

.dropdown-menu{
  font-size: 0.8rem;
}

#menu_button {
  display: none; }

/*FOOTER*/

#pie {
  font-size: 0.8rem;
  color: #fff;
  background-color: black; }
#pie a {
  color: #fff;
  text-decoration: none; }

  #pie a:hover{
     color:rgb(156, 214, 248);
  }

#pie h3 {
  font-size: 1rem; }
#pie p {
  margin-bottom: 0.5rem; }

.redesSoc a {
    padding: 0 1rem;
    font-size: 1rem; }

.fa-facebook{
  color: white;
}

.fa-facebook:hover{
  transform: scale(2);
  border-radius: 10px; 
  color: #3b5998;
  background-color: white;
}

.fa-instagram{
  color: white;
}

.fa-instagram:hover{
    transform: scale(2);
    border-radius: 10px;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
}

.fa-whatsapp{
  color: white; 
}

.fa-whatsapp:hover{
    transform: scale(2);
    border-radius: 10px;
    color: white; 
    background: #4dc247;
}      
      
.locDesc {
  display: none; }
  @media screen and (min-width: 768px) {
    .locDesc {
      display: inline; } }


/*MUEBLES Y MATERIALES*/

.muebles, .materiales{

  /* margin: 3rem 10rem; */
  /* max-width: 1024px; */
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  /* margin: 2rem; */
}

.muebles div, .materiales div{
  text-align: center;
  margin: 0.5rem;
  /* border-style: dashed; 
  border-color: black; */
  width: 320px;
  height: 320px;
  overflow: hidden;
}

.muebles div a, .materiales div a{
  text-decoration: none;
  text-transform: uppercase;
  color: black;
}

.muebles div:hover, .materiales div:hover{
  filter: opacity(0.8);
  transform: scale(1.05);
}

.menumuebles{
  padding: 0.2rem;
  list-style-type:none ;
  margin: 0.5rem;
  /* border: 1px solid black; */
  border-radius: 15px;
  text-align: center;
  /* background-color: rgb(228, 227, 227); */
  
}
.menumuebles:hover{
  background-color: rgb(204, 204, 204);
}

.menumuebles a{
  text-decoration: none;
  /* border: 1px solid black; */
  color: black;
}

.menumuebles a:hover{
  color: #444;
} 

.menumuebles:hover{
  filter: opacity(0.8);
  transform: scale(1.05);
}

/* aside h3{
  padding: 1rem;
  background-color: rgb(232, 234, 235);
  text-align: center;
  font-weight: bold;
  border-radius: 10px;
} */

.muebles div, .materiales div{
  animation-duration: 5s;
  animation-name: aparecer;
  /* animation-iteration-count:initial; */
}

/* ------------------ grid-template-areas -----------------------*/

.containerGrid{
  min-height: 100vh;
  display: grid;
  gap: 20px;
  grid-template-areas: 
  "header"
  /* "aside" */
  "title"
  "main"
  "aside"
  "footer";

  grid-template-columns: 1fr;
}

.containerGrid nav{
  grid-area: header;
}

.containerGrid .titulo{
  grid-area: title;
  text-align: center;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 700;
  padding-top: 1rem;
  margin-bottom: 0.5rem;
  /* font-weight: bold; */
}

.muebles{
  grid-area: main;
}

.containerGrid aside{
  grid-area: aside;
  min-width: 220px;
  text-align: center;
}
.containerGrid aside h3{
  font-size: 1rem;
  /* font-weight: bold; */
}

.containerGrid footer{
  grid-area: footer;
}

/* Animation */

.fadeIn{
  animation: fadeIn;
  animation-duration: 2s;
}

.backInRight{
  animation: backInDown;
  animation-duration: 1s;
  animation-iteration-count:initial;
}

.inLeft{
  animation: backInLeft;
  animation-duration: 2s;
} 

.inUp{
  animation: backInUp;
  animation-duration: 2s;
} 

@keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*-- Medias querys Desktop--*/

@media screen and (min-width:768px) {

  .articulo__div2{
      grid-column: 2/3;
  }

  .articulo__img2{
      grid-column: 1/2;
      grid-row: 2/3;
  }

  .nosotros{
      width: 70%;
  }

  .containerGrid{
      min-height: 100vh;
      display: grid;
      gap: 20px;
      grid-template-areas: 
      "header header"
      "aside title"
      "aside main"
      "footer footer";
  }

  .locDesc{
      display: inline;
  }
  
}

