@charset "UTF-8";
/*COLORES*/
/*FUENTES*/
/*TAMAÑO FUENTE*/
/*ESPACIADOS*/
/*Mapa de redes*/
/*Mapas de colores*/
/*Flex*/
/*Grid*/
/*Responsive*/
@font-face {
  font-family: Montserrat;
  src: url(../fonts/Montserrat-Regular.ttf);
  font-display: swap; }

@font-face {
  font-family: MontserratBold;
  src: url(../fonts/Montserrat-Bold.ttf);
  font-display: swap; }

*::after,
*::before,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  scroll-behavior: smooth; }

body {
  font-family: 'Montserrat', sans-serif; }

h1 {
  font-size: 2rem;
  font-weight: 700; }

h2 {
  font-size: 1.6rem;
  font-family: "MontserratBold", "sans-serif"; }

h3 {
  font-size: 1.6rem; }

a:hover {
  text-decoration: none; }

.button, .btn-colorDark-colorLight, .btn-colorDark-colorLight2, .btn-colorDark-colorLightGray, .btn-colorStrongGray-colorLight, .btn-colorStrongGray-colorLight2, .btn-colorStrongGray-colorLightGray, .btn-colorLight-colorDark, .btn-colorLight2-colorDark, .btn-colorLightGray-colorDark, .btn-colorLight-colorStrongGray, .btn-colorLight2-colorStrongGray, .btn-colorLightGray-colorStrongGray {
  display: inline-block;
  padding: 0 0.3rem;
  font-size: 1rem;
  line-height: 1.5;
  color: black;
  background-color: #fff;
  border: 1px solid rgba(34, 35, 37, 0.85);
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out; }
  .button:hover, .btn-colorDark-colorLight:hover, .btn-colorDark-colorLight2:hover, .btn-colorDark-colorLightGray:hover, .btn-colorStrongGray-colorLight:hover, .btn-colorStrongGray-colorLight2:hover, .btn-colorStrongGray-colorLightGray:hover, .btn-colorLight-colorDark:hover, .btn-colorLight2-colorDark:hover, .btn-colorLightGray-colorDark:hover, .btn-colorLight-colorStrongGray:hover, .btn-colorLight2-colorStrongGray:hover, .btn-colorLightGray-colorStrongGray:hover {
    background-color: rgba(34, 35, 37, 0.85);
    color: #e2e6ea;
    border-color: #e2e6ea; }
  .button:focus, .btn-colorDark-colorLight:focus, .btn-colorDark-colorLight2:focus, .btn-colorDark-colorLightGray:focus, .btn-colorStrongGray-colorLight:focus, .btn-colorStrongGray-colorLight2:focus, .btn-colorStrongGray-colorLightGray:focus, .btn-colorLight-colorDark:focus, .btn-colorLight2-colorDark:focus, .btn-colorLightGray-colorDark:focus, .btn-colorLight-colorStrongGray:focus, .btn-colorLight2-colorStrongGray:focus, .btn-colorLightGray-colorStrongGray:focus {
    color: black;
    background-color: #cccccc;
    border-color: #e2e6ea;
    box-shadow: 0 0 0 0.2rem rgba(216, 217, 219, 0.5); }

.buttonBig {
  padding: 0.3rem 1rem; }

/*Genero botones con mis colores oscuros y claros recorriendo mapas*/
/*Fonde oscuro - fuente clara*/
.btn-colorDark-colorLight {
  background-color: black;
  color: #fff; }

.btn-colorDark-colorLight2 {
  background-color: black;
  color: #e2e6ea; }

.btn-colorDark-colorLightGray {
  background-color: black;
  color: #cccccc; }

.btn-colorStrongGray-colorLight {
  background-color: rgba(34, 35, 37, 0.85);
  color: #fff; }

.btn-colorStrongGray-colorLight2 {
  background-color: rgba(34, 35, 37, 0.85);
  color: #e2e6ea; }

.btn-colorStrongGray-colorLightGray {
  background-color: rgba(34, 35, 37, 0.85);
  color: #cccccc; }

/*Fonde claro - fuente oscura*/
.btn-colorLight-colorDark {
  background-color: #fff;
  color: black; }

.btn-colorLight2-colorDark {
  background-color: #e2e6ea;
  color: black; }

.btn-colorLightGray-colorDark {
  background-color: #cccccc;
  color: black; }

.btn-colorLight-colorStrongGray {
  background-color: #fff;
  color: rgba(34, 35, 37, 0.85); }

.btn-colorLight2-colorStrongGray {
  background-color: #e2e6ea;
  color: rgba(34, 35, 37, 0.85); }

.btn-colorLightGray-colorStrongGray {
  background-color: #cccccc;
  color: rgba(34, 35, 37, 0.85); }

.navbar-brand {
  padding-top: 0; }

.navbar-light {
  background-color: rgba(250, 250, 250, 0.9);
  background-image: none;
  border-bottom: 1px solid #e2e6ea; }

.logo p {
  font-family: 'Times New Roman', Times, serif; }

.logo1 {
  font-size: 2.6rem;
  margin: 0;
  padding: 0;
  line-height: 3rem; }

.logo2 {
  font-size: 0.7rem;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  margin: 0;
  padding: 0; }

#navbarSupportedContent ul {
  margin-right: 1.5rem; }
  #navbarSupportedContent ul li {
    color: black;
    font-weight: 700;
    font-size: 0.8rem;
    padding-left: 1rem; }

#menunav {
  padding-top: 0;
  padding-bottom: 0; }

.nav-item {
  text-transform: uppercase; }

.dropdown-menu {
  font-size: 0.8rem; }

#menu_button {
  display: none; }

#pie {
  font-size: 0.8rem;
  color: #fff;
  background-color: black; }
  #pie a {
    color: #fff; }
    #pie a:hover {
      color: #9cd6f8; }
  #pie h3 {
    font-size: 1rem; }
  #pie p {
    margin-bottom: 0.5rem; }

.redesSoc a {
  padding: 0 1rem;
  font-size: 1rem; }
  .redesSoc a i:hover {
    transform: scale(2); }

.fa-facebook {
  color: #fff; }
  .fa-facebook:hover {
    border-radius: 10px;
    color: #3b5998;
    background-color: #fff; }

.fa-instagram {
  color: #fff; }
  .fa-instagram:hover {
    border-radius: 10px;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%); }

.fa-whatsapp {
  color: #fff; }
  .fa-whatsapp:hover {
    border-radius: 10px;
    background: #4dc247; }

.locDesc {
  display: none; }
  @media screen and (min-width: 768px) {
    .locDesc {
      display: inline; } }

.fadeIn {
  animation: fadeIn;
  animation-duration: 2s; }

.inLeft {
  animation: backInLeft;
  animation-duration: 2s; }

.inRight {
  animation: backInRight;
  animation-duration: 2s; }

.inUp {
  animation: backInUp;
  animation-duration: 2s; }

@keyframes aparecer {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes arrow {
  0% {
    transform: rotate(90deg); }
  50% {
    transform: translate(0, 20px) rotate(90deg); }
  100% {
    transform: rotate(90deg); } }

#imgPortada {
  width: 95%;
  margin: 1rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  opacity: 0.95; }

.picTitle {
  position: absolute;
  top: 10%; }

.cardPic {
  position: relative;
  width: 100%; }

.cardPic__title {
  font-size: 1.6rem;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600; }
  @media screen and (min-width: 768px) {
    .cardPic__title {
      font-size: 2.5rem; } }
  @media screen and (min-width: 992px) {
    .cardPic__title {
      font-size: 3rem; } }

.cardPic__cta {
  text-transform: uppercase; }
  .cardPic__cta a {
    border: none;
    box-shadow: 0 0 0 0.3rem rgba(216, 217, 219, 0.5); }
    @media screen and (min-width: 992px) {
      .cardPic__cta a {
        font-size: 1rem; } }

.goAhead {
  position: absolute;
  bottom: 0px;
  z-index: 1;
  display: block;
  width: 100%;
  text-align: center;
  opacity: .5; }
  .goAhead a {
    line-height: 50px; }
  .goAhead:hover {
    opacity: 1; }

.arrowContainer {
  width: 100px;
  height: 50px;
  margin: 0 auto;
  position: relative; }

.arrow-bottom {
  animation: arrow 2s ease-in-out infinite;
  font-size: 20px; }

.wrapper-video {
  max-height: 600px;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap; }
  .wrapper-video video {
    width: 100%; }

.articulo__parrafo {
  line-height: 2rem; }

.articulo_img {
  border-radius: 10px; }

#newIdx {
  color: #fff;
  max-width: 800px; }

#email {
  margin-right: 0.5rem; }

.aboutVideo {
  width: 100%;
  max-height: 400px;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap; }
  .aboutVideo video {
    width: 100%; }

.titleVideo {
  width: 100%;
  position: absolute;
  text-align: center;
  color: #fff; }
  .titleVideo h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 4rem;
    font-weight: 400; }
  .titleVideo h3 {
    font-size: 1rem;
    text-transform: uppercase; }

#filosofy {
  background-image: url(../images/Mondony-Filosofia-Vision-y-Mission.webp);
  background-size: 100%;
  line-height: 2rem; }

#separator {
  border-bottom: 1px solid black; }

.ocultar {
  overflow: hidden; }

#preguntasFrecuentes {
  overflow-x: hidden; }

.btn-link.focus, .btn-link:focus {
  text-decoration: none; }

.btn-link {
  color: black; }
  .btn-link:hover {
    color: gray;
    text-decoration: none; }

.btn.focus, .btn:focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.25); }

.formaPago th {
  background-color: gray;
  color: #fff;
  letter-spacing: 2px;
  padding: 5px 8px;
  text-transform: uppercase; }

.formaPago td {
  border-bottom: 1px solid black;
  padding: 5px 8px; }

.formaPago tr:hover {
  background: linear-gradient(90deg, #fff 0%, gray 90%); }

.muebles img {
  width: 100%;
  max-width: 320px;
  height: auto; }

.muebles div {
  animation-duration: 5s;
  animation-name: aparecer; }

#collapseMenu a {
  text-decoration: none;
  color: black; }

#collapseMenu li {
  padding: 0.4rem;
  list-style-type: none; }
  #collapseMenu li:hover {
    background-color: #cccccc; }

.galeria img:hover {
  filter: opacity(0.8);
  transform: scale(1.05); }

.newslatter {
  background-image: url("../images/contactoBaW.webp");
  background-size: 100%;
  padding-bottom: 0.3rem;
  line-height: 20px; }
  .newslatter form {
    color: #fff;
    max-width: 420px;
    width: 90%;
    margin: auto;
    padding: 0.3rem; }
    @media screen and (min-width: 768px) {
      .newslatter form {
        margin: 2rem; } }
    .newslatter form div p {
      border-radius: 10px;
      background-color: black;
      opacity: 0.8; }
  .newslatter legend {
    font-size: 1rem;
    text-align: center;
    font-family: "MontserratBold", "sans-serif";
    text-transform: uppercase;
    margin-bottom: 1rem;
    padding: 1rem 0;
    background-color: black;
    box-shadow: 3px 3px 3px #cccccc;
    border-radius: 5px; }
  .newslatter select {
    width: 100%;
    margin-bottom: 1rem;
    padding: 0.3rem;
    border-radius: 5px; }
  .newslatter input[type=text] {
    width: 100%;
    margin-bottom: 1rem;
    padding: 0.3rem;
    border-radius: 5px;
    border: 2px solid #cccccc; }
  .newslatter [type=email] {
    width: 100%;
    margin-bottom: 1rem;
    padding: 0.3rem;
    border-radius: 5px;
    border: 2px solid #cccccc; }
  .newslatter [type=reset]:hover {
    transform: scale(1.1); }
  .newslatter textarea {
    width: 100%;
    height: 100px;
    border-radius: 5px;
    border: 2px solid #cccccc; }
  .newslatter input[type=submit]:hover {
    transform: scale(1.1); }
  .newslatter #optionSubscrip {
    background-color: black;
    opacity: 0.8; }
