@charset "UTF-8";
/*COLORES*/
/*FUENTES*/
/*TAMAÑO FUENTE*/
/*ESPACIADOS*/
/*Mapa de redes*/
/*Mapas de colores*/
/*Flex*/
/*Grid*/
/*Responsive*/
@font-face {
  font-family: MontserratBold;
  src: url(../fonts/Montserrat-Bold.ttf);
  font-display: swap; }

*::after,
*::before,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  scroll-behavior: smooth; }

body {
  font-family: 'Montserrat', sans-serif; }

h1 {
  font-size: 2rem;
  font-weight: 700; }

h2 {
  font-size: 1.6rem;
  font-family: "MontserratBold", "sans-serif"; }

h3 {
  font-size: 1.6rem; }

a:hover {
  text-decoration: none; }

.button, .btn-colorDark-colorLight, .btn-colorDark-colorLight2, .btn-colorDark-colorLightGray, .btn-colorStrongGray-colorLight, .btn-colorStrongGray-colorLight2, .btn-colorStrongGray-colorLightGray, .btn-colorLight-colorDark, .btn-colorLight2-colorDark, .btn-colorLightGray-colorDark, .btn-colorLight-colorStrongGray, .btn-colorLight2-colorStrongGray, .btn-colorLightGray-colorStrongGray {
  display: inline-block;
  padding: 0 0.3rem;
  font-size: 1rem;
  line-height: 1.5;
  color: black;
  background-color: #fff;
  border: 1px solid rgba(34, 35, 37, 0.85);
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out; }
  .button:hover, .btn-colorDark-colorLight:hover, .btn-colorDark-colorLight2:hover, .btn-colorDark-colorLightGray:hover, .btn-colorStrongGray-colorLight:hover, .btn-colorStrongGray-colorLight2:hover, .btn-colorStrongGray-colorLightGray:hover, .btn-colorLight-colorDark:hover, .btn-colorLight2-colorDark:hover, .btn-colorLightGray-colorDark:hover, .btn-colorLight-colorStrongGray:hover, .btn-colorLight2-colorStrongGray:hover, .btn-colorLightGray-colorStrongGray:hover {
    background-color: rgba(34, 35, 37, 0.85);
    color: #e2e6ea;
    border-color: #e2e6ea; }
  .button:focus, .btn-colorDark-colorLight:focus, .btn-colorDark-colorLight2:focus, .btn-colorDark-colorLightGray:focus, .btn-colorStrongGray-colorLight:focus, .btn-colorStrongGray-colorLight2:focus, .btn-colorStrongGray-colorLightGray:focus, .btn-colorLight-colorDark:focus, .btn-colorLight2-colorDark:focus, .btn-colorLightGray-colorDark:focus, .btn-colorLight-colorStrongGray:focus, .btn-colorLight2-colorStrongGray:focus, .btn-colorLightGray-colorStrongGray:focus {
    color: black;
    background-color: #cccccc;
    border-color: #e2e6ea;
    box-shadow: 0 0 0 0.2rem rgba(216, 217, 219, 0.5); }

.buttonBig {
  padding: 0.3rem 1rem; }

.tabla th {
  background-color: gray;
  color: #fff;
  letter-spacing: 2px;
  padding: 5px 8px;
  text-transform: uppercase; }

.tabla td {
  border-bottom: 1px solid black;
  padding: 5px 8px; }

.tabla tr:hover {
  background: linear-gradient(90deg, #fff 0%, gray 90%); }

/*Genero botones con mis colores oscuros y claros recorriendo mapas*/
/*Fonde oscuro - fuente clara*/
.btn-colorDark-colorLight {
  background-color: black;
  color: #fff; }

.btn-colorDark-colorLight2 {
  background-color: black;
  color: #e2e6ea; }

.btn-colorDark-colorLightGray {
  background-color: black;
  color: #cccccc; }

.btn-colorStrongGray-colorLight {
  background-color: rgba(34, 35, 37, 0.85);
  color: #fff; }

.btn-colorStrongGray-colorLight2 {
  background-color: rgba(34, 35, 37, 0.85);
  color: #e2e6ea; }

.btn-colorStrongGray-colorLightGray {
  background-color: rgba(34, 35, 37, 0.85);
  color: #cccccc; }

/*Fonde claro - fuente oscura*/
.btn-colorLight-colorDark {
  background-color: #fff;
  color: black; }

.btn-colorLight2-colorDark {
  background-color: #e2e6ea;
  color: black; }

.btn-colorLightGray-colorDark {
  background-color: #cccccc;
  color: black; }

.btn-colorLight-colorStrongGray {
  background-color: #fff;
  color: rgba(34, 35, 37, 0.85); }

.btn-colorLight2-colorStrongGray {
  background-color: #e2e6ea;
  color: rgba(34, 35, 37, 0.85); }

.btn-colorLightGray-colorStrongGray {
  background-color: #cccccc;
  color: rgba(34, 35, 37, 0.85); }

.navbar-brand {
  padding-top: 0; }

.navbar-light {
  background-color: rgba(250, 250, 250, 0.9);
  background-image: none;
  border-bottom: 1px solid #e2e6ea; }

.logo p {
  font-family: 'Times New Roman', Times, serif; }

.logo1 {
  font-size: 2.6rem;
  margin: 0;
  padding: 0;
  line-height: 3rem; }

.logo2 {
  font-size: 0.7rem;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  margin: 0;
  padding: 0; }

#navbarSupportedContent ul {
  margin-right: 1.5rem; }
  #navbarSupportedContent ul li {
    color: black;
    font-weight: 700;
    font-size: 0.8rem;
    padding-left: 1rem; }

#menunav {
  padding-top: 0;
  padding-bottom: 0; }

.nav-item {
  text-transform: uppercase; }

.dropdown-menu {
  font-size: 0.8rem; }

#menu_button {
  display: none; }

#pie {
  font-size: 0.8rem;
  color: #fff;
  background-color: black; }
  #pie a {
    color: #fff; }
    #pie a:hover {
      color: #9cd6f8; }
  #pie h3 {
    font-size: 1rem; }
  #pie p {
    margin-bottom: 0.5rem; }

.redesSoc a {
  padding: 0 1rem;
  font-size: 1rem; }
  .redesSoc a i:hover {
    transform: scale(2); }

.fa-facebook {
  color: #fff; }
  .fa-facebook:hover {
    border-radius: 10px;
    color: #3b5998;
    background-color: #fff; }

.fa-instagram {
  color: #fff; }
  .fa-instagram:hover {
    border-radius: 10px;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%); }

.fa-whatsapp {
  color: #fff; }
  .fa-whatsapp:hover {
    border-radius: 10px;
    background: #4dc247; }

.locDesc {
  display: none; }
  @media screen and (min-width: 768px) {
    .locDesc {
      display: inline; } }

.fadeIn {
  animation: fadeIn;
  animation-duration: 2s; }

.inLeft {
  animation: backInLeft;
  animation-duration: 2s; }

.inRight {
  animation: backInRight;
  animation-duration: 2s; }

.inUp {
  animation: backInUp;
  animation-duration: 2s; }

@keyframes aparecer {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes arrow {
  0% {
    transform: rotate(90deg); }
  50% {
    transform: translate(0, 20px) rotate(90deg); }
  100% {
    transform: rotate(90deg); } }

.card-title {
  background-color: black;
  text-align: center;
  color: #fff;
  font-size: 1rem; }

.card {
  text-align: center;
  font-size: 0.8rem; }

.contenedor {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap; }

.card-img-top {
  max-height: 320px; }

.contImg {
  height: 320px;
  display: flex;
  align-items: center; }

.me-auto {
  margin-right: auto !important; }

#cant {
  width: 3.2rem;
  padding: 10px;
  margin: 1rem; }

#sumaCant, #restaCant {
  width: 3rem;
  height: 3rem;
  margin: 0.5rem; }

.priority-4 {
  display: none; }
  @media screen and (min-width: 768px) {
    .priority-4 {
      display: table-cell; } }

.priority-5 {
  display: none; }
  @media screen and (min-width: 768px) {
    .priority-5 {
      display: table-cell; } }

#secCarro {
  margin: auto;
  padding: 0.5rem;
  display: inline-block;
  border: solid 1px black;
  font-size: 14px; }
  #secCarro p {
    text-align: end;
    padding: 0.5rem; }
  @media screen and (min-width: 992px) {
    #secCarro {
      font-size: 16px; } }

@media screen and (min-width: 992px) {
  .modal-dialog {
    max-width: 600px; } }

.modal-content {
  text-align: center; }

.oculta {
  display: none; }

#linkCarro {
  position: absolute;
  top: 1rem;
  right: 100px;
  cursor: pointer; }
  @media screen and (min-width: 768px) {
    #linkCarro {
      right: 2rem; } }

@media screen and (min-width: 768px) {
  #linkLog {
    position: absolute;
    top: 1rem;
    right: 120px;
    cursor: pointer; } }

.form-control:focus {
  color: rgba(34, 35, 37, 0.85);
  background-color: #fff;
  border-color: gray;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(11, 12, 14, 0.25); }

.dropdown-menu button {
  text-transform: uppercase; }

#navbarSupportedContent button {
  font-size: 0.8rem; }
