.navbar-brand{
	padding-top: 0;
}

.navbar-light {
	background-color: rgba(250, 250, 250, 0.9);
	background-image:none;
	border-bottom: 1px solid $colorLight2;
}

.logo {
	p {
		font-family: 'Times New Roman', Times, serif;
	}
}
.logo1 {
	font-size: 2.6rem;
	margin: 0;
	padding: 0;
	line-height: 3rem;
}
.logo2 {
	font-size: 0.7rem;
	text-transform: uppercase;
	letter-spacing: 0.05rem;
	margin: 0;
	padding: 0;
}
#navbarSupportedContent {
	ul {
		margin-right: $large;

		li {
			color: $colorDark;
			font-weight: 700;
			font-size: $fontXSmall;
			padding-left: $medium;
		}
	}
}

#menunav {
	padding-top: 0;
	padding-bottom: 0;
}
.nav-item {
	text-transform: uppercase;
}

.dropdown-menu{
    font-size: 0.8rem;
}

#menu_button {
	display: none;
}
