@font-face {
    font-family: Montserrat;
    src: url(../fonts/Montserrat-Regular.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

body{
    font-family: 'Montserrat', sans-serif; 
    }

/* MENU */

.logo p{
    font-family: 'Times New Roman', Times, serif;
}


.logo1{
    font-size: 2.6rem;
    margin: 0;
    padding: 0;
}


.logo2{
    font-size: 0.7rem;
    text-transform: uppercase;
    letter-spacing: 0.05rem;
    margin: 0;
    padding: 0;
}

#navbarSupportedContent ul li{
    color: black;
    font-size: 0.9rem;
}

#menunav{
    padding-top: 0;
    padding-bottom: 0;
    
}

.nav-item{
    text-transform: uppercase;
}


#menu_button {
    display: none;
}

/* INDEX */

#imgPortada{
    width: 95%;
    margin: 1rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    opacity: 0.95;
}

h2{
    font-size: 1.7rem;
}

.newslatter{
    background-image: linear-gradient(rgb(37, 33, 33),gray);
    padding: 2rem;
    line-height: 20px;
}

#newIdx{
    color: #fff;
    max-width: 800px;
}

/* FOOTER */

#pie{
    font-size: 0.8rem;
    color: white;
    background-color:black;
}

#pie a {
     color: white;
}

#pie h3 {
    font-size: 1.2rem;
}

#pie p {
    margin-bottom: 0.5rem;
}

.redesSoc a{
    padding: 0 1rem;
    font-size: 1.5rem;
}

.locDesc{
    display: none;
}

/*NOSOTROS*/
.nosotros{
    background-image: linear-gradient(to right, rgba(97, 97, 97, 0.178) , white,  rgba(97, 97, 97, 0.178));
}

.nosotros h2{
    font-size: 1.5rem;
    font-weight: 600;
}

.nosotros h3{
    font-size: 1.5rem;
}

.formaPago th {
    background-color: gray;
    color: white;
    
    letter-spacing: 2px;
    padding: 5px 8px;
    text-transform: uppercase;
}
.formaPago td {
    border-bottom: 1px solid black;
    padding: 5px 8px;
}
.formaPago tr:hover{
    background: linear-gradient(90deg, rgb(247, 247, 247) 0%, rgba(87, 86, 86, 0.66) 50%);
}


/*MUEBLES Y MATERIALES*/

.muebles img{
    width: 100%;
    max-width: 320px;
    height: auto;
}

#collapseMenu a{
    text-decoration: none;
    color: black;
}

#collapseMenu li{
    padding:0.4rem;
    list-style-type: none;
}

#collapseMenu li:hover{
background-color: rgb(204, 204, 204);
}

.muebles div{
    animation-duration: 5s;
    animation-name: aparecer;
 }

/*CONTACTO*/

.newslatter form{
    color: #fff;
    max-width: 400px;
    width: 90%;
    margin: auto;
}

.newslatter legend {
    text-transform:uppercase;
    padding: 0.9rem 0;
}
.newslatter select, input[type=text],[type=email] {
    width: 100%;
    margin-bottom: 1rem;   
}

.newslatter textarea{
    
    width: 100%;
    height: 100px;
}

.newslatter input[type=submit]:hover,[type=reset]:hover{
    transform: scale(1.1);
}

.galeria img:hover{
    filter: opacity(0.8);
    transform: scale(1.05);
}

/* Animation */

.fadeIn{
    animation: fadeIn;
    animation-duration: 2s;
}

.inLeft{
    animation: backInLeft;
    animation-duration: 2s;
} 

.inRight{
    animation: backInRight;
    animation-duration: 2s;
} 

.inUp{
    animation: backInUp;
    animation-duration: 2s;
} 

@keyframes aparecer {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
 }

@media screen and (min-width:768px) {
    .locDesc{
    display: inline;
    }
 }