@font-face {
    font-family: Montserrat;
    src: url(../fonts/Montserrat-Regular.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

 html{
    font-size: 62.5%;
}

body{
    /* font-family: montserrat;   */
    font-family: 'Montserrat', sans-serif; 
    font-size: 1.6rem;
    }

header{
    position: sticky;
    top:0;
    z-index: 100;
}

 .encabezado{
    width: 100%;
    background-color: white; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    border-bottom: 1px solid #c7c6c6;
} 

.logo{
    /* width: 20rem; */
    /* background-color: cadetblue; */
    /* width: 35%; */
    width: 90%;
    
}

.logo p a{
    color: black;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
}

.logo1 {
    /* font-size: 4.5rem;
    letter-spacing: .1rem; */

    font-size: 3.1rem;
    letter-spacing: .05rem;
}

.logo2 {
    /* font-size: 1.25rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem; */

    font-size: 0.9rem;
    text-transform: uppercase;
    letter-spacing: 0.05rem;
}

.menu {
    
     /* height: 100vh;  */
    background-color: rgba(255, 255, 255, 0.95); 
    position: absolute;
    left: -100%;
    top: 7.6rem;
    text-transform: uppercase; 
    text-align: center;
    font-size: 1.4rem;
    /* padding: 10px; */
    transition: 0.5s;
    width: 100%;
    /* border: 1px solid black; */
    padding: 1rem;
}


.menu__item{
    padding: 0.9rem;
    list-style: none;
    
}

.menu__item a{
    text-decoration: none;
    color: black;
}


#menu_button:checked + .menu {
    /* display: block;  */
    left:0;
}

#menu_button{
    display: none;
}

#imgPortada{
    width: 95%;
    margin: 2rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    opacity: 0.95;
}

h1{
    padding-top: 2rem;
    text-align: center;
}

.principal, .nosotros
{
    width: 90%;
    margin: 0 auto;
}

/*Para la versión del index con flex*/
.articuloFlex{
    /* border: 1px solid black; */
    margin-top: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

/*Para la versión del index con grid*/
.articulo{
    margin-top: 2em;
    /* border: 1px solid black; */
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
}

.articulo img{
    width: 100%;
    /* border: 1px solid black; */
    border-radius: 10px;
}

 .articuloFlex__div{
    /* border: 1px solid black; */
    max-width: 70rem;
    padding: 1rem;
}

.articulo__parrafo{
    padding: 0.6em;
    line-height: 3rem;
    text-align: justify;
}
.articulo__h2{
    font-size: 1.2em;
    text-align: center;
    margin: 0.6em;
}




.newslatter{
    font-size: 1.6rem;
    background-color:gray;
    background-image: linear-gradient(rgb(37, 33, 33),gray);
    margin-top: 4rem ;
    padding: 2rem;

    border: 20px;
    width: 100%;
    display: inline-block;

    line-height: 20px;
}

#pie{
    padding: 1rem;
    color: white;
    background-color:black;
    display: flex;
    justify-content:space-around;
    /* align-items: center; */
    font-size: 1rem;
    line-height: 1.6rem;
}

#pie address{
    line-height: 2.5rem;
    padding: 1rem;
}

#pie a {
    text-decoration: none;
    color: white;
}

#pie img{
    border-radius: 1.5rem; 
    height: 1rem;
    width: 1rem;
}

.locDesc{
    display: none;
}

.redesSoc{
    /* text-align: center;
    font-stretch: extra-expanded; */
    display: flex;
    justify-content: space-around;
    padding: 0.8rem;
    font-size: 2rem;
}

/*NOSOTROS*/

.nosotros{
    padding-bottom: 5rem;
    text-align: center; 
    line-height: 2rem;
    background-image: linear-gradient(to right, rgba(128, 128, 128, 0.178) , white,  rgba(128, 128, 128, 0.178));
}

#nosotros{
    margin-top: 4rem;
    padding: 1rem;
    /* border-top: 1px solid black;
    border-bottom: 1px solid black; */
}

.nosotros h2{
    text-transform: uppercase;
    padding: 0.6em;
    line-height: 3rem;
    font-size: 1.3em;
}

.nosotros h3{
    padding: 0.6em;
    font-size: 1.1em;
}

.nosotros p{
    margin-top: 1rem;
    margin-bottom: 5rem;
    font-style:italic;
}

.nosotros table{
    margin: 0 auto;
    /* border-collapse: collapse; */
}

table{
    border-collapse: separate;
    border-spacing: 0px 10px;
    border: 1pt solid gray;
}

table td{
    border-top: 1pt solid gray;
}


/*MUEBLES Y MATERIALES*/

.muebles, .materiales{

    /* margin: 3rem 10rem; */
    /* max-width: 1024px; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 2rem;
}

.muebles div, .materiales div{
    text-align: center;
    margin: 0.5rem;
    /* border-style: dashed; 
    border-color: black; */
    width: 320px;
    height: 320px;
    overflow: hidden;
}

.muebles div a, .materiales div a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 2rem;
    color: black;
}

.muebles div:hover, .materiales div:hover{
    filter: opacity(0.8);
    transform: scale(1.05);
}

.menumuebles{
    padding: 0.9rem;
    list-style-type:none ;
    margin: 0.5rem;
    /* border: 1px solid black; */
    border-radius: 15px;
    text-align: center;
    /* background-color: rgb(228, 227, 227); */
    
}
.menumuebles:hover{
    background-color: rgb(204, 204, 204);
}

.menumuebles a{
    text-decoration: none;
    /* border: 1px solid black; */
    color: black;
}

.menumuebles a:hover{
    color: #444;
} 

.menumuebles:hover{
    filter: opacity(0.8);
    transform: scale(1.05);
}

aside h3{
    padding: 1rem;
    /* border: 1px solid black; */
    text-align: center;
}


.muebles div, .materiales div{
    animation-duration: 5s;
    animation-name: aparecer;
    /* animation-iteration-count:initial; */
 }


/*CONTACTO*/

.newslatter form{
    color: #fff;
    max-width: 400px;
    width: 90%;
    margin: auto;
}

/* .newslatter input{
    width: 90%;
} */

.newslatter legend {
    text-transform:uppercase;
    padding: 1.5rem 0;
}

.newslatter p{
    margin: 1rem 0;
}

 .newslatter select, input[type=text],[type=email] {
    width: 100%;
    margin-bottom: 1rem;   
}

.newslatter input, select{
    font-size: 1.5rem;
}

.newslatter label{
    display:block;
}

.newslatter .lbSubscribe{
    display:inline;
}

.newslatter input[type=submit],input[type=reset]{
    margin: 1rem 0;
}

.newslatter textarea{
    width: 100%;
    height: 120px;
}


/* ------------------ grid-template-areas -----------------------*/

.container{
    min-height: 100vh;
    display: grid;
    gap: 20px;
    grid-template-areas: 
    "header"
    "aside"
    "title"
    "main"
    "footer";

    grid-template-columns: 1fr;
}

.container header{
    grid-area: header;
}

.container .titulo{
    grid-area: title;
    text-align: center;
    text-transform: uppercase;
}

.muebles{
    grid-area: main;
}

.container aside{
    grid-area: aside;
    min-width: 220px;
}

.container footer{
    grid-area: footer;
}


/* Animation */

.fadeIn{
    animation: fadeIn;
    animation-duration: 2s;
}


.backInRight{
    animation: backInDown;
    animation-duration: 1s;
    animation-iteration-count:initial;
}

.inLeft{
    animation: backInLeft;
    animation-duration: 2s;
} 

.inUp{
    animation: backInUp;
    animation-duration: 2s;
} 

@keyframes aparecer {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
 }
 


/*-- Medias querys Desktop--*/


@media screen and (min-width:768px) {


    header label {
        display: none;
    }
    
    .logo{
        width: auto;
    }
    .logo1 a{
        font-size: 4.5rem;
        letter-spacing: .1rem;
    }

    .logo2 a{
        font-size: 1.25rem;
        text-transform: uppercase;
        letter-spacing: 0.1rem;
    }

    .principal{
        width: 80%;
    }


    header{
        position: sticky;
        top:0;
        z-index: 100;
    }

    .menu{
        /* display: block; */
        position:static;
        width: auto;
        transition: 0;
        padding: 0;
        
        left: 0;
        
    }

    .menu__item{
        display: inline-block;
    }

    .menu__item a{
        text-decoration: none;
        color: black;
    }

    .menu__item:hover{
        transform: scale(1.05);
    }

    .menu__item a:hover{
        color: #444;
    } 

    #pie{
        font-size: 1.3rem;
        line-height: 2.5rem;
    }

    .articulo{
        grid-template-columns: repeat(2, minmax(300px,500px));
        align-items: center;
        justify-content: center;
    }

    /*ver como usar nth-child*/
    /* .articulo:nth-child(3){
        grid-column: 2/3;
    }

    .articulo:nth-child(4){
        grid-column: 1/2;
        grid-row: 2/3;
    } */

    .articulo__div2{
        grid-column: 2/3;
    }

    .articulo__img2{
        grid-column: 1/2;
        grid-row: 2/3;
    }

    .nosotros{
        width: 70%;
    }

    .container{
        min-height: 100vh;
        display: grid;
        gap: 20px;
        grid-template-areas: 
        "header header"
        "aside title"
        "aside main"
        "footer footer";
    }

    .locDesc{
        display: inline;
    }

    
    
}
